<!doctype html>
<html class="no-touch no-js" lang="{{ request.locale.iso_code }}">
<head>
  <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign current_tags_joined = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- CSS3 variables ================================================== -->
  {% render 'css-variables' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS ================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>

    var moneyFormat = '{{ shop.money_format }}';

    var theme = {
      strings:{
        product:{
          unavailable: {{ 'products.product.unavailable' | t | json }},
          will_be_in_stock_after:{{ 'products.product.will_be_in_stock_after' | t: date: '[date]' | json }},
          only_left:{{ 'products.product.only_left' | t: count: '1' | json }},
          unitPrice: {{ 'products.product.unit_price_label' | t | json }},
          unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }}
        },
        navigation:{
          more_link: {{ 'layout.navigation.more' | t | json }}
        },
        map:{
          addressError: {{ 'map.errors.address_error' | t | json }},
          addressNoResults: {{ 'map.errors.address_no_results' | t | json }},
          addressQueryLimit: {{ 'map.errors.address_query_limit_html' | t | json }},
          authError: {{ 'map.errors.auth_error_html' | t | json }}
        }
      },
      settings:{
        cartType: {{ settings.ajax_cart_method | json }}
      }
    };

    {%- if template == 'collection' -%}
      {%- if current_tags -%}
        {%- capture tag_handles -%}
            {%- for tag in current_tags -%}
              {{- tag | handle | append: '|' -}}
            {%- endfor -%}
        {%- endcapture -%}
      {%- endif -%}
      theme.breadcrumbs = {
        collection: {
          title: {{ collection.title | json }},
          link: "{{ shop.url }}{{ collection.url }}{%- if current_tags -%}/{{- tag_handles | split: '|' | join: '+' -}}{%- endif -%}"
        }
      };
      sessionStorage.setItem("breadcrumb", JSON.stringify(theme.breadcrumbs.collection));

    {%- elsif template != 'product' -%}
      if (sessionStorage.getItem("breadcrumb")) {
        sessionStorage.removeItem("breadcrumb")
      }
    {%- endif -%}
    </script>

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% comment %}
    If you store has customers disabled, you can remove the following JS file
  {% endcomment %}
  {% if request.page_type contains 'customers/' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'jquery-2.2.3.min.js' | asset_url | script_tag }}

  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>



	{{ shop.metafields.loox["global_html_head"] }}
{% include 'alireviews_core' %} 
 {% include 'sd-icon-prototype' %}{% include 'swift_core' %} 
 <script>var scaaffCheck = false;</script>
{{ 'sca_affiliate.js' | asset_url | script_tag }}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">

  {% section 'header' %}

  <main class="wrapper main-content{% if request.page_type == blank %} main-content--no-template{% endif %}" role="main">

    {{ content_for_layout }}{% include 'vnavs' %}

  </main>

  {% section 'footer' %}

  {% if settings.ajax_cart_method != 'page' %}

    {% include 'ajax-cart-template' %}

  {% endif %}

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
  </ul>



	{{ shop.metafields.loox["global_html_body"] }}
{% render 'awesome-quantity', product: product %}{% include 'cjpod' %}
{% render 'pb_currency' %}</body>
</html>
